html,
body{
background-image: linear-gradient(to right, rgba(236, 0, 140, 0.3) 0%, rgba(240, 90, 40, 0.6) 100%), url("../images/bglogin.jpg");
background-size: cover;}
/* .container {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
} */

form {
    font-size: 14px;
    margin-top: 5px;
}
.em {
background-color: transparent !important;
margin-top: 10px;
color: white !important;
}
.ps{
    background-color: transparent !important;
    margin-top: 5px;
    color: white !important;
}

.login-form {
    width: 60vh;
    height: 70vh;
    background: rgba(0,0,0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}



.card-title {
    font-weight: 900;
    padding-top: 50px;
}

.btn {
    background: transparent;
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px;
}

.bs {
    color: black;
    background-color: white;
}