html,
.container{
    height: 100%;
    /* justify-content: center;
    display: flex;
    align-items: center; */
    color: lightskyblue;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}


.card{
    background: #1a2226;
    border-radius: 10px;
} 